/* Important CSS for all pages */

:root {
  --title-font: "Roboto", sans-serif;
  --body-font: "Open Sans", sans-serif;
}

/* Navbar CSS */

nav {
  font-family: var(--body-font);
  height: 100px;
}

#navLogo {
  display: flex;
  align-items: center;
}

#navLogo img {
  width: 100px;
  height: auto;
}

#navLogo h2 {
  margin-left: -10px;
  font-family: var(--title-font);
}

@media screen and (max-width: 1000px) {
  #navLogo h2 {
    font-size: 20px;
  }

  #navLogo img {
    width: 60px;
  }
}

/* Sign In CSS */

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: auto;
}

.form-signin img {
  width: 300px;
  height: auto;
}

.form-signin h1 {
  margin-top: -25px;
  margin-bottom: 10px;
}

#loginEmail,
#loginPassword {
  margin: 40px 0px;
}

#rememberCheckbox {
  display: flex;
  font-family: var(--body-font);
  justify-content: center;
}

#rememberCheckbox input {
  margin-top: 5px;
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

/* Footer CSS */

footer {
  padding: 20px;
}

footer p {
  margin-left: 20px;
  line-height: 50%;
}
